<!DOCTYPE html>
<html lang="en">
 
<head>
<style type="text/css">
.password_instruction{
padding-left: 25px;
}
</style>
</head>
 
<body>
<app-root>
<p class="">Dear RoboMQ,</p>
<p class="">Can you share the administrator password for our tenant so we can setup our Meshlium Connector?</p>
<p class="password_instruction"><b>Tenant ID: </b><%=data.uid%></p>
<p class="password_instruction"><b>Username ID:</b><%=data.company%></p>
<p class="">Regards,</p>
<p class=""><%=data.firstname%></p>
</app-root>
</body>
 
</html>
